
<TITLE>
XLE Configurations
</TITLE>
<h1><a name="clm"><a href="xle_toc.html#clm">
XLE Configurations</a></h1>

<h2><a name="clm1"><a href="xle_toc.html#clm1">Overview</a></h2>
This document describes XLE-specific aspects of LFG grammar 
construction relating to CONFIG sections, morphology configurations,
and LEXICON sections. These XLE-specific aspects arise from two
circumstances: the file-orientation of XLE, and the use
of external transducers for morphological processing.
<p>
In general, XLE/LFG, like Medley/LFG, constructs a working grammar
as directed by a given CONFIG section, which selects the elements
of the grammar from among a collection of elements in a data base.
<p>
In XLE, the configuration section is selected by the initial
"create-parser" and "create-generator" commands, which specify an 
"initial" file containing a CONFIG section  (If there are more than one
CONFIG sections in the file, the last one is used).
The CONFIG section, in turn, may contain a FILES clause
listing the other files considered to make up the data base.
As in Medley/LFG, the CONFIG section also contains 
RULES, TEMPLATES, and LEXENTRIES clauses selecting the sections of
each type to be included in the configuration, in this case from the
listed files.
<p>
The individual sections contain essentially the same types of entries
as those in Medley/LFG.  However, the LEXICON section entries may differ
in some respects in form and interpretation, as described further on. 
(Although it is quite possible to construct LEXICON sections
acceptable to both systems.)
<p>
Because morphological processing by transducers is assumed,
MORPHTABLES are not used (and MORPHTABLE clauses in CONFIG sections
and MORPHTABLE sections in files are ignored).
Instead, one of the file should contain a section that begins "XXX YYY
MORPHOLOGY (1.0)" and ends with "----".  In between, there should be a
description of the transducers used by the morphology.
<p>
XLE-specific aspects of CONFIG and LEXICON sections, and details of
MORPHOLOGY section, are described below. 

<h2><a name="clm2"><a href="xle_toc.html#clm2">XLE CONFIG Section</a></h2>
<p>
<h3><a name="clm2.1"><a href="xle_toc.html#clm2.1">FILES clause </a></h3>
The XLE configuration section is similar to the Medley LFG CONFIG
section except the the scope of the configuration data base is given
by a FILES clause:
<pre>
      FILES filename_1  filename_2 ,.... filename_n.
</pre>
defining the scope of the database for the configuration
as the list of filenames plus the initial file (that specified
by create-parser/generator). The specified filenames may be full path names,
or simple names, or relative names such as ../xxxx, down/xxxx.
In the latter two cases the names are assumed to be relative to 
the initial grammar file directory.
<p>
<h3><a name="clm2.2"><a href="xle_toc.html#clm2.2">Section Lists</a></h3>
The remaining sections of the configuration are given by
the section list clauses RULES, LEXENTRIES, and TEMPLATES,
each listing one or more sections of the type, in the form
(VERSION LANGUAGE).  For example:
<pre>
      RULES (TOY ENGLISH) (SERIOUS ENGLISH).
</pre>
The given sections must be found in the data base FILES.
If a RULES, TEMPLATES, or LEXENTRIES section is not given, 
the grammar is assumed to not contain that type of section.
<p>
It should be noted that The entries in the section lists must
denote entire sections; the more detailed entries listing individual
elements of sections available in Medley/LFG, e.g.  (TOY ENGLISH NP),
are not available in XLE.
<p>
As in Medley/LFG the section lists establish a precedence order
for the sections, with the last section listed having highest precedence.
For RULES and TEMPLATES, this means that if several sections
contain an entry with the same name (e.g., a rule N-->...)
the entry in the section with highest precedence (last listed)
will be used.
<p>
For LEXICON sections, the same basic precedence relationship applies.
However, lexicon entries in higher-precedence sections may be used
to modify, rather than simply override, entries with matching headwords in
lower- precedence sections.  See the discussion of "LEXICON sections"
below for a description of this interraction.
<p> 
(Note: Identically named entries in the same section are considered
errors.  These will be flagged with warnings for a short time,
and then disallowed completely.)
<p>
<h3><a name="clm2.3"><a href="xle_toc.html#clm2.3">Duplicate Sections</a></h3>
For purposes of grammar development, a data base may contain more than
one section of the same type and name, e.g. TOY ENGLISH RULES (1.0). 
In this case, ALL sections of that name will be used, and  
will be inserted in the precedence order as a group; within the group 
the occurrence in the highest precedence file will have highest precedence.
For example, given:
<p>
<pre>
   FILES  file1 file2 file3 
   RULES  (TOY ENGLISH) (SERIOUS ENGLISH).
</pre>
and (TOY ENGLISH) sections in both file1 and file3,
the effective section precedence list would be (lowest to highest)
<pre>
   (TOY ENGLISH):file1  (TOY ENGLISH):file3  SERIOUS ENGLISH
</pre>
<p>
<h3><a name="clm2.4"><a href="xle_toc.html#clm2.4">Dynamic Sections</a></h3>
<p>
If all the sections of a particular type in the data base are to
be used, the section specification clause may be abbreviated as
<pre>
     section-type  (all all).
e.g. 
     LEXENTRIES  (all all).
</pre>
In this case, the precedence order of the sections will follow the
precedence order of the containing FILES, and, within a FILE,
later sections take precedence over earlier ones.
<h3><a name="clm2.5"><a href="xle_toc.html#clm2.5">Section Headers </a></h3>
Individual sections are headed by a four-part header:
<pre>
  version language type xle-version 
</pre>
e.g.,
<pre>
  TOY ENGLISH RULES (1.0) 
</pre>
The "xle-version" refers to the XLE version used to process the
grammar, and until further notice must be (1.0).
<h3><a name="clm2.6"><a href="xle_toc.html#clm2.6">Lexicon Indexing and Lexicon Modification</a></h3>
Each file "filename" used in a FILES list is shadowed by 
an index file containing stored indexes
for lexicon sections in the file, to avoid potentially costly
reindexing of lexicons (for random access) at each xle invocation.
The index file is named "(configfilename).fileindexdir/fileindex(N)", 
where (configfilename) is the make of the file where the config is stored
and N is the is the index in the FILES list (0 is used for the config
file itself).
<p>
In general, users need not be aware of the indexing process,  
except in one respect.  For convenience, lexicon sections may 
be edited during a session (i.e., intermixed with a series of
parse or generate commands), and the modifications take effect
immediately. These modifications cause XLE to reindex sections 
in the affected files, and print a "reindexing" message.  So 
if a change to a LEXICON section is not followed by a "reindexing" 
message, it may be that the changes have not been saved/written
(by the user), or some system problem exists.
<p>
Note: Changes may also be made to RULE and TEMPLATE sections, but
these changes do not take effect within the session.
<p>
(In more detail, for the curious,
Each lexicon section is potentially mirrored by two indexes,
one for parsing, and a relatively larger one used in generation.
The index files are created when the containing files are 
first referenced in a configuration, and contain parse or gen indexes
for sections in that configuration.  The index files are modified if
<ul>
<li>The primary files (the ones they index) are modified, or
<li>Additional contained lexicon sections are referenced in a configuration 
<li>Additional index types are needed (e.g. for generation)
<li>The generation indexes are invalidated by a change to the
template sections referenced in the lexicon entries (Lexicon indexes used
in generation are based on the expanded content of the lexicon entries.)
</ul>
<h2>
<a name="clm3"><a href="xle_toc.html#clm3">XLE MORPHOLOGY Section</a></h2>
Two aspects of XLE morphological processing are described below:
the MORPHOLOGY section, and text-specified transducers.
The MORPHOLOGY section describes the transducers used for parsing and
generating the morphology.  It begins with "XXX YYY MORPHOLOGY (1.0)", and
ends with "----".  When used for parsing,
it specifies the sequence of transducers to be applied to an input string
to obtain the lexical items assumed to make up that string.
If no MORPHOLOGY section is given, then XLE
uses the default-morph-config file that is stored in the same directory as
XLE.
<p>
The next section describes the format of the MORPHOLOGY section, as used
in both parsing and generation.
(Note: Conversion to this format from an older format is
described in an appendix to this document.)  
<p>
Text-specified transducers are simple specifications of 
morphological analyzers, placed in text files and referenceable
from the MORPHOLOGY section, for purposes of adding-to or overriding
the analyses of a primary morphological transducer. They are described
further on.
<h3> <a name="clm3.1"><a href="xle_toc.html#clm3.1">MORPHOLOGY Section Format </a></h3>
First we discuss the structure of the MORPHOLOGY section if it is used only
for parsing and then we discuss modifications needed if it is also used for
generation.
<p>
The body of the MORPHOLOGY section consists of a collection of subsections.  Each subsection
begins with a line containing the subsection label, 
which must end with a ':' character, followed by one or more
specification lines, followed by a blank line.  An example of a
MORPHOLOGY section containing all possible subsections would be:

<pre>MY LANGUAGE MORPHOLOGY (1.0)

ACCESS:
REFS GRAMMAR_DIRECTORY/../prelex/
BUILD rebuildtokenizers

TOKENIZE:     
whitespace_normalizer_filename  tokenizing-transducer-filename

#The first analysis
ANALYZE USEFIRST:
morph-override-filename
primary-analyzer-filename

#An alternative analysis
ANALYZE USEALL:
lower-caser-filename primary-analyzer-filename

#Multi-word processing
MULTIWORD:
multiword-filename

BuildMultiwordsFromLexicon:
Tag = +Prefer

BuildMultiwordsFromMorphology:
Tag = +Prefer

----
</pre>
The sections may appear in any order, and all but the "TOKENIZE" section 
are optional, but only one section of each type is accepted.
The filenames specified may be full path names,  simple names,
or relative names such as ../xxx, down/xxx.  Simple names and relative
names are assumed relative to the directory containing the root grammar
file (N.B. NOT the file that contains the MORPHOLOGY section).  If there is
a REFS entry under ACCESS:, then simple names and relative names are
assumed relative to the directory given there.  Lines that begin with the
character '#' are comment lines, and can occur anywhere.
<p>
The functions of the individual section types are as follows.  
<ul>
<li> ACCESS.  This is followed by a REFS line and/or a BUILD line.  The
REFS line has the form "REFS &lt;reference&gt;" where &lt;reference&gt; may be one of:
    <ol>
        <li>an absolute directory reference: the base directory for transducer
                 references will be the specified directory
        <li>GRAMMAR_DIRECTORY(literally): the base directory will be that
                containing the file containing the grammmar CONFIG
                section.
        <li>MORPH_DIRECTORY(literally): the base directory will be that
                containing the file containing the MORPHOLOGY section
        <li>GRAMMAR_DIRECTORY|MORPH_DIRECTORY(dir/)*: the base directory
                 will be (dir/)* relative to the GRAMMAR_DIRECTORY
                 or MORPH_DIRECTORY
     </ol>
     The BUILD line has the form: "BUILD &lt;command&gt;", where
	&lt;command&gt;
     specifies a shell script to be executed if a referenced transducer
     is not found.  The shell script rebuild the transducers.
     For example, the BUILD line might be "BUILD DOMAKE", where
     DOMAKE contains
     <pre>
              cd morph_build
              make</pre>
     &lt;command&gt; will be executed from the effective morph-base directory.
     Thus if the current directory is C, and the effective morph base
     directory is M,  the build will be executed by the sequence:
     <pre>
              cd M
              ./&lt;command&gt;
              cd C</pre>
     The user must have execution authorization for &lt;command&gt;.

<li> TOKENIZE.  The tokenize subsection is as illustrated in the example above. It
may contain only one line. The named transducers are assume to operate on   
full strings (sentences or other text segments), and to produce, as
final output, strings with intervening @ characters specifying breaks
between tokens.  (If any of the morphological transducers have TB in their
sigmas, then XLE will use TB as the token boundary symbol instead of @.)  
Using more than one transducer has the effect of applying
the result of their composition. This can be useful if the actual 
composition becomes too large.
<p> Notes:
<ol>
<li> the tokenization transducers  may also perform other functions, such as
capitalization and multi-word recognition, but the insertion of
@ or TB characters by the final transducer is required.
<li> The tokens output from the tokenize subsection can be used to match
* morphcode entries in the xle lexicon.
</ol>
<p>
<li> ANALYZE USEFIRST.  (May also be called just "ANALYZE"). 
This subsection contains one or more lines. Each line may specify
one or more transducers, but has the effect of a single effective transducer
(see Notes below).  The ANALYZE transducers are assumed to
take as input the individual tokens produced by the tokenizing
transducer, and (if successful) to produce sequences
of one or more output elements (e.g., a stem and a sequence of tags).
So, for example, the TOKENIZE transducer might produce:
<pre>
he@talks@
</pre>
and an (effective) ANALYZE transducer might separately decompose the tokens
"he" and "talks" to obtain analyses of the string such as:
<pre>
he@+3SG@+PRON@  talk@+3SG@+Pres@+V@
he@+3SG@+PRON@  talk@+Pl@+N@
</pre>
The effective ANALYZE USEFIRST transducers are applied to a token
one by one until an analysis is found or there are no more lines. 
When an analysis is found, transducers specified in subsequent lines
in the subsection are not applied to that token. 
So, for example, given the subsection 
<pre>
ANALYZE USEFIRST:
verb-analyzer
other-analyzer

</pre>
The first analyzer might deliver the verb analysis of "talks", blocking
the noun interpretation, and the result of the combination
would be:
<pre>
he@+3SG@+PRON@  talk@+3SG@+Pres@+V@
</pre>
A built-in transducer named *BLOCK* can be used with ANALYZE to prevent a
guesser from being used.  For instance, suppose that you didn't want the
guesser to be applied to tokens that ended with a period.  You could
accomplish this with the following:
<pre>
ANALYZE USEFIRST:
morph-analyzer
ends-with-period *BLOCK*
guesser
</pre>
If a token isn't in morph-analyzer and satisfies ends-with-period, then it
won't receive a morphological analysis.
<p>
<li> ANALYZE USEALL.  This subsection has the same structure as 
ANALYZE USEFIRST - a sequence of lines each identifying one or
more transducers, and each line representing a single effective
transducer.  However, all the lines of the subsection are applied to
each TOKENIZE output token. So if, instead, we listed the above 
transducers within an ANALYZE USEALL subsection: 
<pre>
ANALYZE USEALL:
verb-analyzer
other-analyzer

</pre>
both the verb and noun readings would be obtained.
Thus, given an ANALYZE (USEFIRST) subsection 
containing m lines, and an ANALYZE USEALL subsection containing n lines,
each token can have a maximum of n+1 successful intepretations, one from
ANALYZE USEFIRST, and all from ANALYZE USEALL. 
<p>
<li> MULTIWORD.  This subsection of the morph config is used for
transducers that deal with multi-word phenomena such as multi-word tokens
and multi-word morphology.  It has the same structure as the TOKENIZE
subsection.  It may contain only one line of transducers.  Here is an
example:

<pre>
MULTIWORD:
multiword1 multiword2
</pre>

<p>The transducers in ANALYZE USEALL are unioned with the priority union of
the transducers in ANALYZE (USEFIRST).  The result is applied to each of
the tokens given by the tokenizer and the outputs are concatenated
together. Then the MULTIWORD transducers are composed with the concatenated
output one at a time, with the output of the first MULTIWORD transducer
being the input of the second, and so on. Conceptually, the whole process
looks something like the following:</p>

<pre>
                         multiword2
                            .o.
                         multiword1
                            .o.
                   [analyzers epsilon:TB]*
                            .o.
                         tokenizer2
			    .o.
			 tokenizer1
</pre>

<p>where "analyzers" is the union of the transducers in ANALYZE USEALL with
the priority union of the transducers in ANALYZE (USEFIRST).</P>

<p>In this diagram, we are following the convention of putting the lexical
side on the top and the surface side on the bottom.  TB is a
multi-character symbol that represents a token boundary.  If there are any
TB symbols on the surface side of the transducers in the ANALYZE
subsections they are ignored because of the way that XLE passes tokens
through the word morphology transducers.  Multiword expressions need to be
handled explicitly in the multiword transducers or implicitly using
BuildMultiwordsFromLexicon and/or BuildMultiwordsFromMorphology (described
below).</p>

<p>XLE implicitly adds
the transducer [?+ +Token:EPSILON] to ANALYZE USEALL (e.g. the transducer is
unioned in with the other transducers, just as if it had been included as a
transducer file in ANALYZE USEALL).  The +Token transducer is used to match
lexical entries with "*" as the morphology category.  That is, XLE
interprets strings of characters followed by +Token to match a lexical
entry that has the same string of characters with a "*" as the morphology
category.</p>

<li><p>BuildMultiwordsFromLexicon.  This section instructs XLE to build a
multi-word transducer that optionally converts the tokens that are output by
the morphology into multi-word tokens that appear in the lexicon.  So if

<pre>New` York N * (^ PRED)='New York'.</pre>

 appears in the lexicon, then XLE will
convert the morphological output 

<pre>New +Token York +Token</pre>

 into 

<pre>{New` York +MWToken | New +Token York +Token}</pre>

The "+MWToken" will cause the token "New` York" to match the lexical entry
"New` York" but not the special token entry "-token" that is used for
fragment grammars.</p>

<li>BuildMultiwordsFromMorphology.  This section instructs XLE to build a
multi-word transducer that optionally converts the tokens that are output
by the morphology into multi-word tokens that appear in the morphology.  So
if the morphology has

<pre>New :_York 0:+City</pre>

in it, then XLE will convert the morphological output

<pre>New +Token York +Token</pre>

 into 

<pre>{New_York +City | New +Token York +Token}</pre>

<li>Properties of BuildMultiwordsFromLexicon and BuildMultiwordsFromMorphology.

<p>If something like "Tag = +Prefer" appears in the lines immediately after
BuildMultiwordsFromLexicon or BuildMultiwordsFromMorphology, then XLE will
add the given tag after the new multi-word construction (e.g. "New` York
+MWToken +Prefer").  This can be used to prefer multi-words over the
individual tokens with an optimality mark.  One instance of the tag will
appear for each token that the multi-word token matches except for the last
one.  Thus, if the lexicon has "New` York` City N * (^ PRED)='New York
City'" in it, then XLE will produce "New` York` City +MWToken +Prefer
+Prefer".</p>

<p>If something like "TokenBoundary = _" appears in the lines immediately
after BuildMultiwordsFromLexicon or BuildMultiwordsFromMorphology, then XLE
will match on the given value instead of space.  For instance, if
"TokenBoundary = _" and the lexicon had "New_York N * (^
PRED)='New_York'.", then XLE would convert "New +Token York +Token" into
"{New_York +MWToken | New +Token York +Token}".</p>

<p>If there are multi-word tokens or multi-word morphemes such as "United
States of America" or "oil filter" that are treated as multi-words mainly
for performance reasons, then you might consider using a multi-word
transducer to add brackets to the multi-words instead of converting them to
multi-word lexical entries.  Otherwise, you lose the internal structure of
the multi-word construction.</p>


<li><A NAME = "BREAKTEXT"></A> BREAKTEXT.  This subsection should contain a
single transducer that breaks a text up into segments (usually sentences)
by inserting the multi-character symbol "TEXTBREAK" deterministically
between segments.  This is used by <A HREF =
"xle.html#SEC20B">parse-file</A> and <A HREF =
"xle.html#make-testfile">make-testfile</A> to break a text into a sequence
of segments that can be given to the parser.  The "TEXTBREAK" symbol is
removed before a segment is given to the parser.  Here is an example of the
notation:

<pre>
BREAKTEXT:
breaktext.fst
</pre>

<P>You can allow for sentence break ambiguity by having the BREAKTEXT
transducer break the text into segments only where the breaks are very
reliable (for instance, at paragraph boundaries) and then having the
tokenizer insert sentence breaks non-deterministically.  These sentence
breaks will then appear in the input to the parser.  For this to work, the
grammar must be modified to accept sentence break markers.</P>

<li> PARAMETERS.  This subsection contains one or more parameters
in any order. Use of parameters is discouraged, and will be
discontinued.
<pre>
 *cap_param     *unk_param   *gen_group
    where
      *cap_param   specifies the interpretations to be generated
                   for parse-input capitalized words
                   in contexts where "accidental caps" can occur.
                   The default is *NOCAP.
               *CAPPREFIX  each such word results in:
                          -CAP capitalized_word tags
                          -CAP uncapitalized_base_form tags
                               capitalized_word tags
               *NOCAPPREFIX each such word results in
                               capitalized_word tags
                               uncapitalized_base_form   tags
               *NOCAP    do not do anything about accidental caps.
     *unk_param  specifies the treatment of unknown tokens
                          -MUnknown/-MCUnknown   (capitalized)
              *NOUNKTAG  put unknown word on arc w/o tag
              *UNKXX     put string xx_word/XX_word on arc
              (this applicable only to XLT analyzers)
     *gen_group   specifies whether independently alternating
                  lexical items should be grouped in the output,
                  e.g., -tag1|-tag2. This should be used where
                  morph analyzers are not employed but the
                  output contains stem tag sequences, to reduce
                  non-determinism created volume.
                  *NOGROUP (the default)
                  *GROUP

</pre>
<p>
<li> Notes on Effective Transducers.
In both ANALYZE USEFIRST and ANALYZE USEALL subsections each line may 
specify more than one transducer, together treated as a single effective
transducer in the following way.  The first transducer on the line
accepts as input a token from TOKENIZE, and produces as output
(if successful), one or more analyses each consisting of a sequence s of 
(one or more) tokens.  The tokens of each of these sequences are
then input to the second transducer, which transforms them further. 
The second transduction is successful only if all the tokens for at
least one sequence s have been transformed, etc.  
An effective transducer succeeds as a whole if it produces at least one
full decomposition of the initial input token.
<p>
A simple use of such a sequence might be if a primary morphological
analyzer used an initial "+" for morphological tags, but the LFG
lexicon used "-".  To avoid modifying either the morphological analyzer
or lexicon, one could specify an "effective" ANALYZE transducer as:
<pre>
morph-analyzer  plus-to-minus
</pre>
where the second transducer would simply translate tokens beginning
with "+" to ones beginning with "-", and output the others without
change.  For more interesting uses of effective transducers, 
see "Examples" below.
<p>
It should also be noted (at least by transducer builders)
that while the TOKENIZE transducer must 
delineate output tokens by intervening "@" characters, ANALYZE transducers
may use another scheme as well.  Specifically, the transducers can
contain arcs with labels representing multiple character strings
Such arcs are frequently used to represent morphological tags,
and are understood as themselves constituting (and delineating) tokens.
So the following sequences of arc labels, with blanks used here to 
indicate separations between arcs, are understood as equivalently
denoting the token sequence "talk" "+Pres":
<pre>
   t a l k +Pres
   t a l k @ +Pres@
   t a l k @ + P r e s @
</pre>
</ul>

<h3><a name="clm3.2"><a href="xle_toc.html#clm3.2">Example of MORPHOLOGY section usage:</a></h3>
The initial example, reproduced here, how the facilities might be used. 
<pre>MY LANGUAGE MORPHOLOGY (1.0)

TOKENIZE:     
whitespace_normalizer_filename  tokenizing-transducer-filename

ANALYZE USEFIRST:
morph-override-filename
primary-analyzer-filename

ANALYZE USEALL:
lower-caser-filename primary-analyzer-filename

----
</pre>
Assume first that the grammar writer disagrees with the analysis 
produced by the primary-analyzer-filename for a few words.  This problem 
might be solved by building a small transducer delivering the 
desired analysis, and placing it before the primary analyzer in
the ANALYZE USEFIRST subsection.  (See the "Text-specified transducers"
				   section  for how such 
a small transducer might be built.)
<p>
Next, assume that the text to be analyzed contains
some words written in upper case just for emphasis,
and these may overlap some acronyms or names accepted as such
by the primary analyzer (e.g., IS = information systems or IS = emphatic
"is").  So one might write a lowercasing transducer that accepts
just such words, and translates them to lower case.  Then the
grammar writer might add that transducer to the ANALYZE USEALL
subsection, followed by the primary analyzer.
	
<h3><a name="clm3.3"><a href="xle_toc.html#clm3.3">Use of the MORPHOLOGY section in generation</a></h3>

The same MORPHOLOGY section used for parsing is also used for 
generation.  Without additional annotation, the transducers specified
for parsing are applied to generation output, but inverted
and in the reverse direction.  However, since some parse transducers
may not be appropriate for generation (e.g., normalizers),
files may be annotated as P!filename or G!filename to confine their
use to parsing or generation respectively. Or one may choose to use
completely separate morph and gen transducers, e.g., in the 
tokenizer subsection, by annnotating each filename.

For example, given the the MORPHOLOGY section:
<pre>MY LANGUAGE MORPHOLOGY (1.0)

TOKENIZE:     
P!whitespace_normalizer_filename  tokenizing-transducer-filename

ANALYZE USEFIRST:
morph-override-filename
primary-analyzer-filename

ANALYZE USEALL:
P!lower-caser-filename P!primary-analyzer-filename

----
</pre>

Each stem-tag sequence in the generator output would be
submitted first to morph-override-filename (logically inverted)
and, if that fails, to primary-analyzer-filename (also logically inverted).
The analyzers in the ANALYZE USEALL subsection would not be applied as none
are applicable to generation.  The resulting net of alternative word
paths would then be composed with the inverted
tokenizing-transducer-filename.


<h3><a name="clm3.4"><a href="xle_toc.html#clm3.4">Text-specified transducers</a></h3>

To assist the grammar writer in specifying morphological analyses 
either extending or overriding those produced by a primary 
morphological analyzer, a transducer may be specified
by a simple text file.   This file may be referenced directly in 
a MORPHOLOGY section, or used as input to an fsm-file building
capability.
<p>
Each line of the text file defines the analysis of a single word.
For example:
<pre>
talks  : /talk/ +Pres
walks :  /walk/ +Pres
flies:   /fly/ +N +Plural
disk drive : /disk/ +N +Sing /drive/ +N +Sing 
</pre>
The first field on the line, from the beginning of the line to the 
required ':' character, contains the input word. 
The input word may contain blanks, but prefixed and
suffixed blanks are ignored.  So, for example, the fourth line of the
above specification gives an analysis for the string "disk drive".
<p>
The analysis into "stems" and "tags" follows the input-word field.
Stems should be enclosed in '/" characters, and also may contain blanks;
tags are not enclosed. but must be separated by blanks. 
(The significance of the distinction, which may not be of interest to
the grammar writer, is that the transducer built will
put tags on arcs with multi-character labels.) 
<p>
The file may also contain initial and interspersed comment lines that start
with the character '#', as well as blank lines, e.g.:
<pre>
# Override Transducer for Verbs  

talks  : /talk/ +Pres

# Not sure about this one
walks :  /walk/ +Pres
</pre>
<p>
The standard XLE escape character, `, is used when a character is
to function as a literal rather than a control character, for example,
<pre>
`:  : /colon/  +Punct
</pre>
<p>
As mentioned, text-specified transducers may be referenced directly in
the ANALYZE USEFIRST/USEALL subsections of the MORPHOLOGY section.
For example, the  "morph-override-filename" in one of the illustrations
above might be the name of a transducer specification file.
However, the text file may also be input to a utility invoked from
the xle command line:
<pre>
create-transducer  text-file-name  output-transducer-file-name
</pre>
to produce a file-stored transducer "output-transducer-filename"
that may be examined via the c-fsm interactive facilities, and/or
directly referenced in the MORPHOLOGY section.

<h2>  
<a name="clm4"><a href="xle_toc.html#clm4">XLE Lexicon Entries and Lookup Model </a></h2>
<h3><a name="clm4.1"><a href="xle_toc.html#clm4.1">1. XLE Lexicons - Lexicon File Specification</a></h3>
<P>
The lexicon sections to be used with a grammar are specified by  
the LEXENTRIES clause of the CONFIG section of the grammar, as
<PRE>
  LEXENTRIES section_1 section_2 ... section_n
e.g.
  LEXENTRIES (STANDARD ENGLISH) (TRACTOR ENGLISH)
</PRE>
<P>
where the lexicon precedence order is "last first", i.e., in the
example (TRACTOR ENGLISH) is of higher precedence than (STANDARD ENGLISH).

<h3> <a name="clm4.2"><a href="xle_toc.html#clm4.2">2. Standard Lexicon Entries </a></h3>
Lexicon entries should be constructed for each stem and tag
(a) to be returned by the morphological analysis transducers, 
and (b) of interest to the application, e.g.,
<PRE >
     dream   N   XLE  constraints;
             V   XLE  constraints.

     -Nsg      NSFX XLE  constraints. 

     -Adj      ASFX ANY .

     -AdjC     ASFX ANY  @(COMPARATIVE).

     -AdjS     ASFX ANY  @(SUPERLATIVE).

</PRE>
Tags returned by XLT analyzers are described in the documentation
for the associated language.  Tags documented as [XXX} are
actually returned as -XXX. 
<P>
For purposes of Medley-LFG/XLE compatibility, a lexicon subentry
for a category XXX with a symbolic (non "*") morphcodes is
actually given the category XXX_BASE.  The latter is used in 
constructing the sublexical rules that take the place of
the implicit morph-table unifications.  For example:
<PRE >
  N --> N_BASE NSFX_BASE.
</PRE>
If the analyses returned by the morphological analyzer are
insufficient for the application, additional "surface" entries or
subentries for the words involved may be constructed,
using the morphcode "*", e.g.,
<PRE >
     dreamed A   *  constraints.
</PRE>
The categories for these subentries are not implicitly suffixed by
"_BASE", as they represent full lexical items.
<P>
In addition, to provide for stems analyzed by the morphological
transducers but not given explicit entries in the lexicon,
entries headed by the words "-unknown", "-Lunknown", and "-LUnknown"
may be used to obtain parses for sentences involving such stems.

<P>The preferred method for handling unknown stems is to use the -unknown
entry:</P>

<PRE>
 -unknown  N  XLE (^PRED)='%stem'.
           A  XLE ...
</PRE>

<P>%stem stands for whatever actual stem matches -unknown.
These entries (actually for N_BASE and A_BASE), when combined   
by sublexical rules with entries for the transducer-produced tags,
can allow parses to go through, and produce the appropriate f-structures.</P>

<P>-Lunknown is used for otherwise unspecified uncapitalized stems, and
-LUnknown for capitalized stems.  If there is an -unknown entry defined,
then the -Lunknown and -LUnknown entries are ignored.  The -Lunknown and
-LUnknown entries use the C procedure "isupper" to determine the case of
the stem.  Thus, they do not generalize well to languages other than
English.  For this reason, you are strongly encouraged to use the -unknown
entry instead.  Eventually, support for the the -Lunknown and -LUnknown
entries will be removed from XLE.</P>

<P>If you want to distinguish stems based on their case, you should change
the morphology to produce different analyses based on the case.  For
instance, "Bill" might be analyzed as "bill +N +Sg" and "Bill +PN +Sg".
The different tags can then be used by a sub-lexical rule to pick out
different lexical entries for the stem.  Here is an example of what might
be used:</P>

<PRE>
N --> { N_BASE N_SUFF_BASE N_SUFF_BASE*
       |PN_BASE PN_SUFF_BASE N_SUFF_BASE*}.

+N N_SUFF XLE.

+PN PN_SUFF XLE.

+Sg N_SUFF XLE.

-unknown N XLE @(COMMON-NOUN %stem);
         PN XLE @(PROPER-NOUN %stem).
</PRE>

<P>There is also a special lexical entry named "-token" which matches
any token (including those that have an explicit entry in the
lexicon).  The "-token" entry is useful for robust parsing, where you
may want to skip over one or more tokens in order to stitch together a
set of fragments.</P>

<PRE>
-token TOKEN * (^ TOKEN)=%stem.
</PRE>

<h3><a name="clm4.3"><a href="xle_toc.html#clm4.3">3. Basic lookup model</a></h3>
Given a configuration specification
<PRE>
  LEXENTRIES lex_1 lex_2 ..  lex_n
</PRE>
we can describe the lexicon lookup model, for lexicons containing
only the standard entries above, as 
<PRE>
  Set EffectiveEntry = the "unknown" entry.
  For lex_1 .. lex_n,  in that order 
      If there is an entry for "abc" in lex_i replace the entire  
      EffectiveEntry by the new entry.
  Use final EffectiveEntry.
</PRE>

The "unknown" entry used is the "effective" entry for -unknown, -Lunknown or
-LUnknown, arrived at by the same method.

<p>Note that a particular lexical entry can only appear once per lexical
section, even if the parts of speech don't overlap.  If you want to have
more than one entry for a lexeme, you need to put them in different
sections (e.g. (NOUN ENGLISH) and (VERB ENGLISH)).</p>

<h3><a name="clm4.4"><a href="xle_toc.html#clm4.4">4. Edit entries and augmented lookup model </a></h3>
Lexicon "edit" entries are supplied to allow greater flexibility
in combining lexicons, and use of unknowns.  In an edit entry,
each category is (and must be) prefixed by an operator. Also any
lexicon entry (edit or nonedit) may be given a disposition ONLY or ETC,
with ONLY the default.  Giving as alternatives:
<PRE>
  NonEdit Entry      Edit Entry
abc  C1  M1  ..    abc  +|-|!|=C1  M1 ..
     C2  M2  ..         +|-|!|=C2  M2 ..
     ....               .... 
     (ONLY/ETC).        (ONLY/ETC).
</PRE>

With these entries, and a configuration specification
<PRE>
  LEXICONFILES lex_1 lex_2 ..  lex_n
</PRE>
the full lookup model can be specified as:
<PRE>
  Set EffectiveEntry to the (effective) unknown entry 
  For lex_1, lex_2, to lex_n, in that order 
     If the lexicon contains an edit entry for "abc", for each subentry
            If +C, add subentry for C to the effective entry
            If -C, delete subentries for C from the effective entry
            If !C, replace subentries for C in the effective entry
            If =C, retain existing subentries for C in the effective entry
                   (meaningful only with disposition ONLY)
    and then, 
    If disp ONLY, delete categories not mentioned in entry.
    If disp ETC, don't delete anything.
</PRE>
Treat non-edit entries for "abc" like edit entries with
"!" operators (more or less).  (So existing entries will have 
the same effect as they did in the old lookup model.)
<h3><a name="clm4.5"><a href="xle_toc.html#clm4.5">5. Examples</a></h3>
Given
<PRE>
  -unknown  ADJ  XLE .. 
            ADV  XLE ..
            ....
</PRE>
<h4>1. To add an alternative constraint for the ADJ reading.</a></h4>
<PRE>
   abc  +ADJ  XLE .. ;
         ETC.

</PRE>
(Note that all subentries "(op)POS XLE.." in these examples are  
really for categories POS_BASE, because of the symbolic morph-codes).

<h4>2. To cancel the ADV reading</a></h4>
<PRE>
   abc  -ADV XLE; 
         ETC.
</PRE>
(Note that "-" operators are accompanied by category AND morph-code. 
<h4> 3. To Do both previous.</a></h4>
<PRE>
   abc  +ADJ  XLE .. ;
         ONLY. "default"
</PRE>
<h4>4. To add a noun reading, and replace the ADJ constraints.</a></h4>
<PRE>
   abc  N    XLE .. ;
        ADJ  XLE .. ; 
        ETC.
</PRE>
<h4> 5. To retain only the adjective interpretation from the -unknown entry.</a></h4>
<PRE>
   abc =ADJ XLE.
</PRE>
Note that the retain operator only makes sense with a disposition
of ONLY (the default); if a disposition of ETC is given, the
retain operator is effectively purposeless.


<h2><a name="clm5"><a href="xle_toc.html#clm5">Appendix: converting old morph config file formats </a></h2>
Old morph config file formats are no longer accepted, but the 
conversion is straightforward.  An old morph-config file for an
English grammar might have the form:
<pre>
  parse.all.fst                             TOK_BY_FSM
  /project/xle/etc/XLT_ANALYZE.XLTFILE      MORPH_BY_IX_DF
</pre>

This could be recoded:
<pre>
#
TOKENIZE:
  parse.all.fst    

ANALYZE:
  /project/xle/etc/XLT_ANALYZE.XLTFILE    

</pre>
Note that the "method id"s, e.g., TOK_BY_FSM, are not 
necessary.  Similarly, a grammar using additional analysis files, e.g.,
 
<pre>
tok-lfg.fst                             TOK_BY_FSM
MainMorph                               MORPH_BY_FSM
AuxMorph                                MORPH_BY_FSM
</pre>

could be recoded:
<pre>
#
TOKENIZE:
tok-lfg.fst  

ANALYZE:
 MainMorph AuxMorph 

</pre>

Note that AuxMorph is placed on the same line as MainMorph, as this

<h2><a name="clm6"><a href="xle_toc.html#clm6">Appendix: Old Format Morph Config File </a></h2>
This format, described below,  is no longer accepted.

The old-format morph config file can begin with a  parameter line
specifying the built-in treatment of "accidental caps", and of
<pre>
 *cap_param     *unk_param                                        

   where   *cap_param   specifies the interpretations to be generate 
                        for each occurrence of capitalized word in  
                        context where "accidental caps" can occur  
               *CAPPREFIX                                         
                          -CAP capitalized_word tags                    
                          -CAP uncapitalized_base_form tags         
                               capitalized_word tags               
               *NOCAPPREFIX                                       
                               capitalized_word tags                    
                               uncapitalized_base_form   tags   
               *NOCAP    do not do special processing          
                         for accidental cap                          
                         i.e. lookup word capitalized however        
                         input.                                     
                                                                  
   and       *unk_param  specifies the treatment of unknown tokens  
              *UNKTAG    put unknown word plus one of tags          
                          -MUnknown/-MCUnknown   (capitalized)     
              *NOUNKTAG  put unknown word on arc w/o tag         
              *UNKXX     put string xx_word/XX_word on arc        
</pre>
If the parameter line is not present, defaults are *NOCAPPREFIX and
*UNKTAG.  (Note that default differ for the new format) 
The rest of the file contains one line for each transduction              
These lines are of the form:
<pre>
         FULL_FILE_NAME        METHOD_ID                          
</pre>
where a METHOD ID is one  of TOK_BY_FSM, TOK_BY_IX, MORPH_BY_IX_BF,  
MORPH_BY_IX_DF, MORPH_BY_FSM, and specifies both the format of the file 
(FSMFILE or PARCINDEX), and, for morphological analyzers,  and the
method to be used to interpret it (breadth first or depth first).	
<p>
The first line must specify the single tokenizer in the list, which
is assumed to accept string input.  The rest of the lines
are equivalent to a single line ANALYZE section, as described above.


