<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title></title>
</head>
  <body>
 
<pre></pre>
" PRS (1.0)"<br>
<br>
" (C) PARC 2004<br>
&nbsp; File: fs_triples.pl<br>
&nbsp; Purpose:&nbsp; This is a file that maps f-structures through to a
very<br>
&nbsp; basic triples format, intended for direct matching of f-structures<br>
&nbsp; against f-structures.&nbsp; It is loaded by triples match if no rule<br>
&nbsp; file is specified, and fs_files are being matched against fs_files<br>
<br>
&nbsp; Note that it includes the node_label_rules file, in $XLEPATH/include<br>
&nbsp; to deal with node labelling.<br>
"<br>
<br>
<br>
<br>
grammar = fs_triples.<br>
<br>
:- set_transfer_option(conflict_resolution, 0).<br>
:- set_transfer_option(garbage_collection, 0).<br>
:- set_transfer_option(include_eqs, 1).<br>
:- set_transfer_option(include_proj, 1).<br>
:- set_transfer_option(extra, [cf(1,root(var(0),x))]).<br>
<br>
<br>
arg(%%,%%,%%) ==&gt; 0.<br>
nonarg(%%,%%,%%) ==&gt; 0.<br>
LEFT-SISTER(%%,%%) ==&gt; 0.<br>
RIGHT-SISTER(%%,%%) ==&gt; 0.<br>
LEFT-DAUGHTER(%%,%%) ==&gt; 0.<br>
RIGHT-DAUGHTER(%%,%%) ==&gt; 0.<br>
LEFT_SISTER(%%,%%) ==&gt; 0.<br>
RIGHT_SISTER(%%,%%) ==&gt; 0.<br>
LEFT_DAUGHTER(%%,%%) ==&gt; 0.<br>
RIGHT_DAUGHTER(%%,%%) ==&gt; 0.<br>
<br>
<br>
"==============<br>
Remove optimality projections<br>
==============="<br>
<br>
o::(%%, var(%X)) ==&gt;&nbsp; to_delete(var(%X)).<br>
<br>
&nbsp; +to_delete(%X),<br>
&nbsp; ((qp(%P, [%X, var(%Y)]), {%P \= in_set})<br>
&nbsp; |<br>
&nbsp;&nbsp; in_set(var(%Y), %X)<br>
&nbsp; )<br>
&nbsp;*=&gt;<br>
&nbsp; to_delete(var(%Y)).<br>
<br>
+to_delete(%X), in_set(%%, %X) ==&gt; 0.<br>
+to_delete(%X), qp(%%, [%X, %%]) ==&gt; 0.<br>
to_delete(%%) ==&gt; 0.<br>
<br>
&nbsp;&nbsp;&nbsp; &nbsp; <br>
"==============<br>
&nbsp;flatten sets:<br>
=============="<br>
<br>
+ADJUNCT(%X,%Y), in_set(%Z,%Y) ==&gt; ADJUNCT_x(%X,%Z).<br>
<br>
+NAME-MOD(%X,%Y), in_set(%Z,%Y) ==&gt; NAME-MOD_x(%X,%Z).<br>
<br>
+MOD(%X,%Y), in_set(%Z,%Y) ==&gt; MOD_x(%X,%Z).<br>
&nbsp;&nbsp;&nbsp;&nbsp; <br>
" for older grammars: "<br>
+APP(%X,%Y), -in_set(%%,%Y) ==&gt; NAME-MOD_x(%X,%Y).<br>
+APP(%X,%Y), in_set(%Z,%Y)&nbsp;&nbsp; ==&gt; NAME-MOD_x(%X,%Z).<br>
<br>
"+COORD(%X, '+_'), in_set(%Z, %X) ==&gt; COORD_x(%X,%Z). "<br>
COORD(%X, '+_')&nbsp; ==&gt; PRED(%X,coord).<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
" for older grammars:"<br>
CONJ(%X,'+_') ==&gt; PRED(%X,coord).<br>
+PRED(%X, coord), in_set(%Z,%X) ==&gt; COORD(%X,%Z).<br>
<br>
ADJUNCT(%%,%%) ==&gt; 0.<br>
ADJUNCT_x(%X,%Z) ==&gt; ADJUNCT(%X,%Z).<br>
<br>
NAME-MOD(%%,%%) ==&gt; 0.<br>
APP(%%,%%) ==&gt; 0.<br>
NAME-MOD_x(%X,%Z) ==&gt; NAME-MOD(%X,%Z).<br>
<br>
MOD(%%,%%) ==&gt; 0.<br>
MOD_x(%X,%Z) ==&gt; MOD(%X,%Z).<br>
<br>
" COORD(%X,%%) ==&gt; PRED(%X,coord). "<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
"=====================<br>
&nbsp; The following two are to deal with sets that have no preds, and are<br>
&nbsp; not adjuncts, mods or coordinations.&nbsp;&nbsp; Treat them as list<br>
&nbsp; coordinations.&nbsp; See for example <br>
&nbsp; /project/nltt-2/TESTDATA/10-01-02/G5.pl<br>
======================="<br>
<br>
in_set(var(%X), var(%Y)) ==&gt; <br>
&nbsp;&nbsp; COORD_x(var(%Y), var(%X)), PRED(var(%Y),coord).<br>
<br>
+COORD_x(var(%Y), var(%%)), -PRED(var(%Y),%%) ==&gt;<br>
&nbsp;&nbsp; PRED(var(%Y),coord).<br>
<br>
<br>
COORD_x(%X,%Z) ==&gt; COORD(%X,%Z).<br>
<br>
<br>
root(%B,%%), -PRED(%B,%%) ==&gt; PRED(%B,root). <br>
<br>
<br>
in_set(%Atom,%%), {%Atom \= var(%%)} ==&gt; 0.<br>
<br>
"============================<br>
&nbsp;flatten internal structure:<br>
============================"<br>
<br>
&nbsp; qp(%P1,[%A,var(%B)]), -(eq(var(%B), %V), {%V \= var(%%)}),<br>
&nbsp; -PRED(var(%B),%%),<br>
&nbsp; +qp(%P2,[var(%B),%%]), <br>
&nbsp; {%P1 \= in_set}, {%P2 \= in_set}, {%P1 \= eq},&nbsp; {%P2 \= eq},<br>
&nbsp; {%P1 \= scopes}, {%P2 \= scopes}<br>
==&gt;<br>
&nbsp; internal_node(%A, var(%B), %P1).<br>
<br>
<br>
&nbsp; +internal_node(%A, %B, %PA), +internal_node(%B, %C, %PB),<br>
&nbsp; +internal_node(%C, %D, %PC), +internal_node(%D, %E, %PD),<br>
&nbsp; -internal_node(%E,%%,%P), qp(%P,[%E,%V]), {%P \= eq}<br>
==&gt;<br>
&nbsp; qp(%P,[%A,%V,[%PA,%PB,%PC,%PD]]).<br>
<br>
<br>
&nbsp; +internal_node(%A, %B, %PA), +internal_node(%B, %C, %PB),<br>
&nbsp; +internal_node(%C, %D, %PC), <br>
&nbsp; -internal_node(%D,%%,%P), qp(%P,[%D,%V]), {%P \= eq}<br>
==&gt;<br>
&nbsp; qp(%P,[%A,%V,[%PA,%PB,%PC]]).<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp; <br>
&nbsp; +internal_node(%A, %B, %PA), +internal_node(%B, %C, %PB),<br>
&nbsp; -internal_node(%C,%%,%P), qp(%P,[%C,%V]), {%P \= eq}<br>
==&gt;<br>
&nbsp; qp(%P,[%A,%V,[%PA,%PB]]).<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp; <br>
&nbsp; +internal_node(%A, %B, %PA), <br>
&nbsp; -internal_node(%B,%%,%P), qp(%P,[%B,%V]), {%P \= eq}<br>
==&gt;<br>
&nbsp; qp(%P,[%A,%V,[%PA]]).<br>
<br>
<br>
&nbsp; internal_node(%%,%%,%%) ==&gt; 0.<br>
<br>
"=================<br>
&nbsp;labelling nodes:<br>
================="<br>
<br>
include(`.`./transfer/triples/node_label_rules).<br>
<br>
@label_nodes.<br>
<br>
<br>
node_label(%%,eq:%%) ==&gt; 0.<br>
eq(%%,%%) ==&gt; 0.<br>
<br>
label_feats ::<br>
&nbsp; qp(%P, [var(%N), var(%M)]),<br>
&nbsp; +node_label(var(%N), %L:%X),<br>
&nbsp; +node_value(var(%M), %MAttr) ==&gt;<br>
&nbsp; qp(%P,[%L:%X, %MAttr]);<br>
<br>
&nbsp; qp(%P, [var(%N), var(%M)]),<br>
&nbsp; +node_label(var(%N), %L:%X),<br>
&nbsp; +node_label(var(%M), %MAttr) ==&gt;<br>
&nbsp; qp(%P,[%L:%X, %MAttr]);<br>
<br>
&nbsp; qp(%P, [var(%N), %Val]), {%P \= node_label},<br>
&nbsp; +node_label(var(%N), %L:%X) ==&gt;<br>
&nbsp; qp(%P,[%L:%X, %Val]);<br>
<br>
&nbsp; qp(%P, [var(%N), var(%M), %Path]),<br>
&nbsp; +node_label(var(%N), %L:%X),<br>
&nbsp; +node_value(var(%M), %MAttr) ==&gt;<br>
&nbsp; qp(%P,[%L:%X, %MAttr, %Path]);<br>
<br>
&nbsp; qp(%P, [var(%N), var(%M), %Path]),<br>
&nbsp; +node_label(var(%N), %L:%X),<br>
&nbsp; +node_label(var(%M), %MAttr) ==&gt;<br>
&nbsp; qp(%P,[%L:%X, %MAttr, %Path]);<br>
<br>
&nbsp; qp(%P, [var(%N), %Val, %Path]), {%P \= node_label},<br>
&nbsp; +node_label(var(%N), %L:%X) ==&gt;<br>
&nbsp; qp(%P,[%L:%X, %Val, %Path]).<br>
<br>
<br>
<br>
@label_feats.<br>
<br>
node_label(%%,%%) ==&gt; 0.<br>
node_value(%%,%%) ==&gt; 0.<br>
internal_node(%%,%%, %%) ==&gt; 0.<br>
lex_id(%%,%%) ==&gt; 0.<br>
root(%%,%%) ==&gt; 0.<br>
<br>
" last ditch, in case node labelling hasn't worked"<br>
qp(%P, [var(%N), %Val]) ==&gt; qp(%P, [var:%N, %Val]).<br>
qp(%P, [%Val, var(%N)]) ==&gt; qp(%P, [%Val, var:%N]).<br>
qp(%P, [var(%N), %Val, %Path]) ==&gt; qp(%P, [var:%N, %Val, %Path]).<br>
qp(%P, [%Val, var(%N), %Path]) ==&gt; qp(%P, [%Val, var:%N, %Path]).<br>
&nbsp; <br>
<br>
</body>
</html>
